[package]
name = "ironframe_config"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
readme.workspace = true
description.workspace = true

[dependencies]
serde = { version = "1", features = ["derive"] }
toml = "0.8"
