[package]
name = "tailwind_scanner"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
readme.workspace = true
description.workspace = true

[dependencies]
globset = "0.4"
ignore = "0.4"
